* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
    padding: 20px;
}

h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}

h2::after {
    content: " like it";
    color: blue;
}

h2::before {
    content: "subscrib ";
    color: crimson;
}