* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

.page1 {
    height: 100%;
    width: 100%;
    background-color: rgb(118, 149, 160);
    display: flex;
    justify-content: center;
    align-items: center;
}
.page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(41, 106, 128);
    display: flex;
    justify-content: center;
    align-items: center;

}
.page3 {
    height: 100%;
    width: 100%;
    background-color: rgb(11, 64, 82);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px;

}

.box {
    height: 300px;
    width: 300px;
    background-color: crimson;
    border-radius: 5px;
}

.page4 {
    height: 100%;
    width: 100%;
    background-color: rgb(9, 22, 27);
    display: flex;
    justify-content: flex-start ;
    align-items: center;
}