* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 2em;
    width: 500px;
    height: 300px;
    background-color: bisque;
    border-radius: 10px;
}

.container .timer {
    font-size: 4rem;
    text-align: center;
}

.container .containerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 4em;
}

.container .containerBtn #play {
    padding: 10px 15px;
    background-color: rgb(17, 175, 17);
    font-size: 1.5rem;
}

.container .containerBtn #pause {
    padding: 10px 15px;
    background-color: orange;
    font-size: 1.5rem;
}

.container .containerBtn #reset {
    padding: 10px 15px;
    background-color: red;
    font-size: 1.5rem;
}