* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-task {
    height: 50px;
    width: 500px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    gap: 3rem;
    padding: 30px 10px;
    box-shadow: 0 0 3px;
}

input {
    flex: 5;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid rgb(17, 95, 106);
}

.add-task {
    font-size: 1.5rem;
    padding: 5px 10px;
    border-radius: 5px;
    color: green;
    border-style: none;
    border: 2px solid green;
}

.add-task:hover {
    background-color: green;
    color: #fff;
}

/* after appling javascript */
.task {
    background-color: aliceblue;
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    margin-top: 20px;
    border-radius: 10px;
    gap: 1rem;
}

.task li {
    /* border: 1px solid blue; */
    padding: 10px;
    flex: 1;
    font-size: 1.4rem;
    list-style: none;
    border-radius: 5px;
}

.task .check {
    font-size: 1.4rem;
    padding: 8px 12px;
    color: orange;
    border: 1px solid orange;
    border-radius: 5px;
}

.task .check:hover {
    background-color: orange;
    color: white;
}

.task .trash {
    font-size: 1.4rem;
    padding: 8px 12px;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

.task .trash:hover {
    background-color: red;
    color: #fff;
}